@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-main: 69 65 56; /* #454138 */
        --color-bg-main: 220 216 192; /* #dcd8c0 */
        --color-bg-muted: 225 221 197; /* #e1ddc5 */
        --color-border-main: 69 65 56; /* #454138 */
        --color-shadow-light: 186 181 161 /* #bab5a1 */
    }
    html.dark {
        --color-text-main: 242 241 236; /* #F2F1EC */
        --color-bg-main: 02 22 13; /* #02160D */
        --color-bg-muted: 03 35 21; /* #032315 */
        --color-border-main: 242 241 236; /* #F2F1EC */
        --color-shadow-dark: #11291E
        --color-scrollbar-bg: #4E5851
    }


/* Scrollbar Styles */
/* Base styles for the scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Adjust width as needed */
}

/* Light Mode */
/* Track */
::-webkit-scrollbar-track {
    background: #dcd8c0; /* Default track background color */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #CEC9AD; /* Default handle color */
    border-radius: 6px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #454138; /* Color on hover */
}

/* Dark Mode */
html.dark ::-webkit-scrollbar-track {
    background: #02160D; /* Dark mode track background color */
}

html.dark ::-webkit-scrollbar-thumb {
    background: #11291E; /* Dark mode handle color */
}

html.dark ::-webkit-scrollbar-thumb:hover {
    background: #F2F1EC; /* Dark mode handle color on hover */
}

    /* Cyan */
    /*
    :root {
        --color-text-main: 22 42 43;
        --color-bg-main: 214 224 226;
        --color-bg-muted: 204 216 219;
        --color-border-main: 22 42 43;
    }
    html.dark {
        --color-text-main: 214 224 226;
        --color-bg-main: 22 42 43;
        --color-bg-muted: 28 53 55;
        --color-border-main: 214 224 226;
    }
    */

    /* Green */
    /*
    :root {
        --color-text-main: 58 66 56;
        --color-bg-main: 243 239 230;
        --color-bg-muted: 238 233 220;
        --color-border-main: 58 66 56;
    }
    html.dark {
        --color-text-main: 243 239 230;
        --color-bg-main: 94 108 91;
        --color-bg-muted: 89 103 86;
        --color-border-main: 243 239 230;
    }
    */
}
